name: Python Test Pipeline

on:
  push:
    branches:
      - main
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-cov selenium
      
      - name: Install Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y chromium-browser

      - name: Install ChromeDriver
        run: |
          sudo apt-get install -y chromium-chromedriver
      - name: Install ChromeDriver safely
        run: |
          if [ ! -f /usr/bin/chromedriver ]; then
              sudo ln -s /usr/lib/chromium-browser/chromedriver /usr/bin/chromedriver
          else
              echo "Chromedriver already exists, skipping symlink."
          fi



      - name: Run Pytest with Coverage
        run: |
          pytest --cov=fb_login --cov-report=html

      - name: Zip Coverage Report
        run: |
          zip -r coverage-report.zip htmlcov/

      - name: Upload Coverage ZIP Artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage-report.zip
